<<<<<<< HEAD
=======
/* app/globals.css */
>>>>>>> c23e90a2614a191bbca99df50b9bfdeef8ac31ab
@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
=======
html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif; /* Assuming you are using the Inter font as specified in layout.js */
  background-image: url('/waves2.png'), linear-gradient(to right, #0f2027, #203a43, #2c5364);
  background-position: top center, center center; /* Adjust wave image to cover the top area */
  background-repeat: no-repeat, repeat; /* No repeat for wave image */
  background-size: cover, cover; /* Cover ensures the image covers the full area */
  background-attachment: fixed; /* Optional: fixes the background image during scroll */
  background-blend-mode: overlay; /* Blends the image with the gradient */
}

/* Full page container */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  /* Add other header styles here */
}

.content {
  text-align: center;
  /* Add other content styles here */
}

/* Two symmetrical boxes in the center */
.boxes {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/* Individual box styles */
.box {
  width: 200px; /* or whatever size you desire */
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #000000; /* just an example */
  /* Add other box styles here */
}

/* Add this to your globals.css */
.navbar {
  background-image: linear-gradient(to right, #0b0000, #000000); /* Example gradient from grey to dark */
  color: #ffffff; /* Ensures text is white for contrast */
}

.menu-horizontal li a {
  color: #ffffff; /* Ensures navigation links are white for contrast */
}

.btn-ghost {
  color: #ffffff; /* Adjust button text color for visibility */
}

/* You might also want to add hover effects for your links/buttons for better interaction feedback */
.menu-horizontal li a:hover,
.btn-ghost:hover {
  opacity: 0.8;
}

.navbar {
  background-image: linear-gradient(to right, #4b5563, #1f2937);
}

.box {
  background-color: black;
  color: white;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

>>>>>>> c23e90a2614a191bbca99df50b9bfdeef8ac31ab
